@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.signature-bck {
  padding: 50px;
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../images/assinaturas/bck-assinaturas.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.signature-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
}
.signature {
  display: flex;
  flex-direction: column;
  flex: 1 0 250px;
  align-items: center;
  background-color: #282a3e;
  max-width: 280px;
  justify-content: space-between;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
}
/* --------------------- Nome Assinatura ----------------------- */
.signature h2 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: white;
  text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 0 1px rgba(0, 255, 255, 0.5),
    1px 0 rgba(0, 255, 255, 0.5), 0 -1px rgba(0, 255, 255, 0.5);
}
/* ------------------ Preço ------------------ */
.signature .preco-div {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.divisao {
  border-top: 2px solid rgba(0, 0, 0, 0.5);
}
.distance-border {
  padding-top: 1.5rem;
}
.signature .moeda {
  font-size: 1rem;
  color: rgb(125, 125, 125);
  text-shadow: none;
  font-weight: bolder;
}
.signature .valor {
  font-size: 4rem;
  color: white;
  text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 0 1px rgba(0, 255, 255, 0.5),
    1px 0 rgba(0, 255, 255, 0.5), 0 -1px rgba(0, 255, 255, 0.5);
  font-weight: bold;
}
.signature .container-cents {
  font-size: 1.25rem;
  padding-left: 5px;
  color: white;
  text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 0 1px rgba(0, 255, 255, 0.5),
    1px 0 rgba(0, 255, 255, 0.5), 0 -1px rgba(0, 255, 255, 0.5);
}
.signature .mensal {
  font-size: 1rem;
  color: rgb(125, 125, 125);
  text-shadow: none;
}
/* ----------------- Lista ----------------- */
.signature li {
  color: white;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
  cursor: auto;
}
.flex-lista {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 220px;
}
.flex-lista span {
  padding-right: 5px;
}
/* ---------------- Btn Assinatura ----------------*/
.signature .btn-plano {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.signature .btn-plano:visited {
  color: white;
}
/* -------------- MediaQuery -------------- */
@media screen and (max-width: 920px) {
  .signature-bck {
    background-image: url(../images/assinaturas/bck-ground-responsive.jpeg);
    background-size: 100% 100%;
  }
  .signature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .signature {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .order1 {
    order: 5;
  }
  .order2 {
    order: 1;
  }
  .order3 {
    order: -5;
  }
}
@media screen and (max-width: 532px) {
  .signature .moeda,
  .signature .container-cents {
    font-size: 0.75rem;
  }
  .signature .valor {
    font-size: 3rem;
  }
  .signature-container {
    font-size: 0.75rem;
  }
  .signature h2 {
    margin-bottom: 0;
  }
  .signature .distance-border {
    padding-top: 0.5rem;
  }
  .signature .btn-plano {
    margin-top: 1rem;
  }
}
