@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;
}
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.box-shadow {
  box-shadow: 10px 10px 15px rgb(45, 45, 0, 0.2);
  max-width: 1280px;
}
/* ----------BODY---------- */
.bck-section {
  background-color: rgba(255, 217, 0, 0.05);
  width: 100vw;
  padding-bottom: 3rem;
  max-width: 1280px;
  margin: 0 auto;
}
.main {
  width: 100vw;
  margin: 0 auto;
  padding-top: 75px;
  background-color: rgba(255, 217, 0, 0.1);
}
.titulo {
  font-family: "Playfair Display SC", Georgia, serif;
  max-width: 600px;
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 3rem;
  margin-left: 10%;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 3px rgba(0, 0, 139, 0.75),
    1px 1px 5px rgba(0, 255, 255, 0.75);
}
/* --------- Lista imgs --------- */
.space-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 15%;
  max-width: 1000px;
  padding-bottom: 3rem;
}
.space-lista {
  height: 370px;
  max-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 2 0 200px;
}
.space-lista::-webkit-scrollbar {
  display: block;
  width: 18px;
}
.space-lista::-webkit-scrollbar-thumb {
  background-color: rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  border-left: 3px solid rgba(255, 255, 255, 0.75);
  border-right: 3px solid rgba(255, 255, 255, 0.75);
}
.space-lista::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 217, 0, 1);
}
.space-lista::-webkit-scrollbar-track {
  background-color: transparent;
}
.space-descricao {
  flex: 2 0 250px;
  margin-left: 2rem;
  min-width: 250px;
  max-width: 500px;
}
.space-descricao section {
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.space-descricao h2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 139, 0.25),
    1px 1px 1px rgba(0, 255, 255, 0.5);
  letter-spacing: 0.15rem;
  font-family: "Poppins", sans-serif;
}
.space-descricao h2::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 8px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 1px rgba(0, 0, 139, 0.25),
    1px 1px 1px rgba(0, 255, 255, 0.5);
}
.space-descricao p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
/* ------------- JS ----------- */
.js-tabcontent section {
  display: none;
}
.js-tabcontent section.ativo {
  display: block;
  animation: show 0.5s forwards;
}
/* ------------- Animação Section TabNav ------------ */
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-50px, -50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}
/* --------------------- Animação Scroll Window ------------------------ */
.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}
.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* ----------- MediaQuery ------------ */
@media screen and (max-width: 1025px) {
  .space-lista {
    max-height: 350px;
  }
}
@media screen and (max-width: 960px) {
  .space-lista {
    max-height: 320px;
  }
}
@media screen and (max-width: 900px) {
  .space-lista {
    max-height: 280px;
  }
}
@media screen and (max-width: 801px) {
  body {
    font-size: 0.85rem;
  }
  .space-lista {
    max-height: 240px;
  }
  .menu nav ul {
    width: 100vw;
  }
  .footer {
    width: 100vw;
  }
  .titulo {
    text-align: center;
    font-size: 4.5rem;
    margin-left: 0rem;
  }
  .space-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    padding-bottom: 0;
  }
  .space-container .space-lista {
    margin-bottom: 2rem;
  }
  .bck-section {
    margin: 0 auto;
    padding-bottom: 0;
  }
  .space-descricao section h2 {
    justify-content: center;
  }
  .space-descricao h2::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 6px;
  }
  .space-descricao h2 {
    font-size: 1.25rem;
  }
  .space-descricao {
    flex: 2 0 300px;
    min-width: 250px;
    max-width: 500px;
  }
}
@media screen and (max-width: 532px) {
  .titulo {
    font-size: 3rem;
  }
}
